/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-color: #F55A5A;
}
.header--logo {
  margin-right: 6px;
  font-size: 32px;
  color: #fff;
}

.header--name {
  font-size: 20px;
  color: #fff;
}

/* CARD */

.card {
  display: flex;
  align-items: center;
}

.card--img {
  object-fit: cover;
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.card--locationContainer {
  font-size: 10.5px;
}

.card--locationIcon {
  margin-right: 1px;
  color: #F55A5A;
  font-size: 12px;
}

.card--location {
  letter-spacing: 2.5px;
}

.card--mapsLink {
  all:unset;
  margin-left: 15px;
  color: #918E9B;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s;
}

.card--mapsLink:hover {
  color: inherit;
}

.card--title {
  margin: 4px 0 15px;
  font-size: 25px;
}

.card--date {
  margin-bottom: 6px;
  font-size: 10.5px;
  font-weight: 700;
  letter-spacing: 1px;
}