/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-color: #F55A5A;
}
.header--logo {
  margin-right: 6px;
  font-size: 32px;
  color: #fff;
}

.header--name {
  font-size: 20px;
  color: #fff;
}

/* CARD */

.card {
  display: flex;
}

.card--img {
  
}